@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 60px;
  font-family: 'Nunito', sans-serif;
}

body {
  display: flex;
  justify-content: space-between;
}

body > section {
  height: 100vh;
}

.player-score {
  width: 25vw;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.gameboard {
  width: 50vw;

  display: flex;
  flex-direction: column;
}

.gameboard-header {
  height: 30vh;
  text-align: center;
  margin-top: 100px;
}

.gameboard-grid {
  height: 50vh;
  width: 50vh;

  align-self: center;
  align-content: center;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.gameboard-grid .row-1,
.gameboard-grid .row-2 {
  border-bottom: 2px solid grey;
}

.gameboard-grid .col-1,
.gameboard-grid .col-2 {
  border-right: 2px solid grey;
}

.mouseover {
  background-color: rgb(182, 255, 255);
  box-shadow: 0 0 20px rgb(66, 202, 202);
  cursor: pointer;
}

.winner {
  background-color: lightgreen;
  box-shadow: 0 0 20px rgb(81, 183, 81);
}
